<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj3n80ZmFrhK3qG_pZi9R9pQpGrkit9PI</string>
	<key>GCM_SENDER_ID</key>
	<string>820574932853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myntra.app</string>
	<key>PROJECT_ID</key>
	<string>myntra-64d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>myntra-64d9d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820574932853:ios:7e2539b0875584fe1b8d3c</string>
</dict>
</plist>